<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>{{ htmlWebpackPlugin.options.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color"
        content="{{ htmlWebpackPlugin.options.theme_color }}">
    {{#if htmlWebpackPlugin.options.include_ga }}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ htmlWebpackPlugin.options.ga_tag }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());

        gtag("config", "{{ htmlWebpackPlugin.options.ga_tag }}", {
            send_page_view: false,
            custom_map: {
                dimension1: "User Id",
                dimension2: "Groups",
                dimension3: "Lesson",
                dimension4: "Question",
                dimension5: "Answer",
                metric1: "Is a Correct Answer",
            },
        });
    </script>
    {{/if}}
</head>

<body>
    <div id="preapp-messages">
        <div id="service-worker-loading">
            {{> $index_partials/loading_screen.hbs}}
        </div>
        <div id="service-worker-notsupported" hidden>
            <img src="{{ htmlWebpackPlugin.options.favicon_path }}" class="favicon" />
            {{> $index_partials/update_browser.hbs}}
        </div>
        <div id="service-worker-failed" onclick="location.reload()" hidden>
            <img src="{{ htmlWebpackPlugin.options.favicon_path }}" class="favicon" />
            {{> $index_partials/try_again.hbs}}
        </div>
    </div>
    <App> </App>
    <style>
        html {
            height: 100%;
            background-color: #f4f8fa;;
        }

        body {
            height: 100%;
            margin: 0;
        }

        body.modal-open {
            position: fixed;
        }

        #service-worker-notsupported,
        #service-worker-failed {
            height: 100%;
            margin: -8px;
            width: auto;
            padding: 30px;
            font-family: Verdana;
            font-size: xx-large;
            text-align: center;
            color: {{ htmlWebpackPlugin.options.theme_color }};
        }

        #preapp-messages {
            background-color: #E8EEF1;
        }

        #preapp-messages img.favicon {
            margin: 20px auto;
            max-height: 100px;
            display: block;
        }

        #service-worker-loading {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
    </style>
</body>

</html>
